<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>20528864307-27nceskmam0nrskimb6rso1biea0m3qn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.20528864307-27nceskmam0nrskimb6rso1biea0m3qn</string>
	<key>API_KEY</key>
	<string>AIzaSyCarHDyrTVaVITVk1ClGd-YQh8KYJx8oOw</string>
	<key>GCM_SENDER_ID</key>
	<string>20528864307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.guadianatechnologygames.stressbits</string>
	<key>PROJECT_ID</key>
	<string>game-stress-bits-6277b</string>
	<key>STORAGE_BUCKET</key>
	<string>game-stress-bits-6277b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:20528864307:ios:46b3fc9495903712</string>
	<key>DATABASE_URL</key>
	<string>https://game-stress-bits-6277b.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-5267056163100832~9578373019</string>
</dict>
</plist>